@import './definitions/typography.scss';
@import './definitions/colors.scss';
@import './layout/flex.scss';
@import './layout/elements.scss';
@import './helpers/fonts.scss';

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $background;
}
