$background: #26242d;
$primary: #9ad2c1;
$foreground: #f4f4f4;
$dark: #505050;
$light: #cce8e0;
$dark-grey: #797586;
$darker: #19181d;
$accent: #7ff192;
$pink: #f17fed;
$blue: #7fd2f1;
$danger: #ff4d71;
$warning: #efd552;
