.container {
  padding: 0 1.5rem;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-weight: 100;
  font-size: 48px;
  line-height: 45px;
  margin: 0;
  // padding: 0 2rem;
  padding-top: 1rem;
}
