@import '../definitions/colors.scss';

.is-red {
  color: $danger;
}

.is-yellow {
  color: $warning;
}

.is-green {
  color: $accent;
}

.is-blue {
  color: $blue;
}

.is-pink {
  color: $pink;
}

.is-dark {
  color: $background;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.fs-medium {
  font-size: 1.5rem;
}
